/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;

  font-family: "Rubik", sans-serif;
  color: $cl-white;
}

a {
  text-decoration: none;
  color: $cl-white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* utils */
.container {
  max-width: calc(1440px - 8rem);
  margin: 0 auto;
}
