/* Colors */
$cl-white: #ffffff;
$cl-grey: #adadad;
$cl-yellow: #ffee00;
$cl-bg-yellow: #fcda28;
$cl-orange: #fcb500;
$cl-black-100: #111111;
$cl-black-200: #000000;

/* Font sizes */
$fs-100: 1.125rem;
$fs-200: 1.5rem;
$fs-300: 2.25rem;
$fs-400: 3rem;
$fs-500: 9rem;
